.open-sans-barFont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings:
    "wdth" 62;
  
}

.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.html{
  background-color: #474E68;
}

.body{
  background-color: #474E68;
  font-family: "Open Sans", sans-serif; 
  
}
.navbar{
  background-color: #121212; 
}

.navbar-brand {
  font-size: 26px !important; 
  padding-left: 1px;
  
  color: #D3D3D3; 
  position: -webkit-sticky;
  
  

}

.substance-button{
  margin: 20px;
  border-radius: 10px;
  height: 100px;
  background-color: #1f2227;
  font-family: "Open Sans", sans-serif !important; 
  color:#D3D3D3;
  border-color: transparent;
  font-size: x-large;
}

.section-name {
  font-size: 26px !important; 
  padding-left: 150px;
  padding-top: 25px;
  font-family: "Open Sans", sans-serif;
  color: #D3D3D3;
  text-decoration: underline;
  

}

.row{
  padding-bottom: 25px;
}

.substance-list{
  color: #000;
  
}

.left{
  background-color: #121212;
  color: #fff;
  float: left;
  width: 45%;
  padding-left: 2%;
  height: 100vh;
}

.right{
  background-color:#121212;
  float: right;
  width: 55%;
  height: 100vh;
  overflow-y: hidden;
  position: sticky;
  
}
.card-body{
  border-radius: 20px;
  height: 75vh;

  
  color: #fff;

}
.card{
  background-color: #872341;
  margin-right: 20%;
}

.greyed {
  background-color: grey;
  opacity: 0.5;
}

