

.open-sans-barFont {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  
.navbar-brand {
    font-size: 100px; /* Bigger font for the brand name */
}